<!DOCTYPE html>
<html>
<head>
  <title>Patients</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<style type="text/css">
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;

    /*background-image: url(https://laboriousbeesgroup.files.wordpress.com/2011/05/974704375_brand-manager.jpg);*/

    background-image: url(https://maxemhealthurgentcare.com/wp-content/uploads/2020/02/Nurse.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
}
.container {
    position: absolute;
    top: 120%;
    left: 24%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 1950px;
    padding: 130px 70px;
    background: rgba(0, 0, 0, 0.6);
    /*background: white;*/
}

.in {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 10px solid grey;
}

.out {
    /*right: -12px;*/
    margin-left: 70%;
    border-bottom: 20px solid transparent;
    border-right: 10px solid lightblue;
    width: 100%;
}

.container button {
    height: 40px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background: darkred;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
        /*margin-top: 5%;
    */    }
    .container h5 {
        margin: 10;
        padding: 0 0 20px;
        color: white;
        /*color: #f0ffff;*/
        text-align: center;
        text-transform: uppercase;
        font-family: 'Times New Roman', serif;
        font-size: 35px;

    }

    .container .message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
}

    .container .in .message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #5a99ee;
}
.doctor_info {
        flex-basis: 25%;
        /*background: #fff3f3;*/
        /*background: #f0f8ff;*/
        background: white;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 2px 5px;
        box-sizing: border-box;
        transition: 0.5s;
        width: 40%;
    }
.patient_info {
        flex-basis: 25%;
        /*background: #fff3f3;*/
        /*background: #f0f8ff;*/
        background: white;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 2px 5px;
        box-sizing: border-box;
        transition: 0.5s;
        width: 40%;
    }

    .jumbotron {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 650px;
        height: 500px;
        /*padding: 130px 70px;*/

        background: rgba(0, 0, 0, 0.6);
    }
    .jumbotron .inputname input {
        border: none;
        border-bottom: 1px solid darkblue;
        background: transparent;
        outline: none;
        height: 40px;
        color: white;
        font-size: 16px;
    }
    .jumbotron button {
        height: 40px;
        color: #fff;
        font-size: 20px;
        text-align: center;
        background: blue;
        cursor: pointer;
        border-radius: 25px;
        border: none;
        outline: none;
        margin-top: 5%;
    }
    .jumbotron .buttonreports button{
        height: 40px;
        color: #fff;
        font-size: 20px;
        text-align: center;
        background: darkred;
        cursor: pointer;
        border-radius: 25px;
        border: none;
        outline: none;
        /*margin-top: 5%;
    */    }

    nav{
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;


    }
    nav img{
        width: 100px;
    }
    


</style>
<body>
    <div class="container">
        <h5>Chat with Doctors</h5>
        <br>
        <div id="chatbox">
            <div class="out">
                <% details_msg.forEach(function(item){ %>
                <div id="messages">
                    <!-- <p style="color:#281E5D;"><%=item.name%></p>  <p><h4 style="color:darkred;"> <%=item.message%> </h4></p> -->
                    <p style="color:lightgrey;"><%=item.name%></p> <div class="doctor_info"><p><h4 style="color: #191970; font-size: 18px;"> <%=item.message%> </h4></p></div> 
             </div>
             <% }) %>
         </div>

         <div class="in">
             <% detailsdoc_msgs.forEach(function(item){ %>
             <div id="messages">
                <!-- <p style="color: #022D36;"><%=item.name%></p>  <p><h4 style="color: #191970;"> <%=item.message%> </h4></p> -->
                <p style="color: lightgrey;"><%=item.name%></p>  <div class="patient_info"><p><h4 style="; font-size: 18px; color: black "> <%=item.message%> </h4></p></div>
             </div>
             <% }) %>
         </div>
     </div>
     <div class="jumbotron">
        <br>
        <tbody>
            <div class="inputname">
                <% details.forEach(function(item){ %>
                <% if (item.status=="Approved") { %>
                <input type="text" class="form-control" name="name" value="<%=item.username %> To <%=item.doctor %>" id="name" disabled="">
                <% } %>
                <% }) %>
            </div>



        </tbody>
        <br>
        <!-- <label style="color: lightblue;" for="message">Message:</label> -->
        <br>
        <textarea id = "message" class="form-control" placeholder="Your Message Here" ></textarea>
        <br>
        <button id="send" class="btn btn-success">Send</button>
        <br>
        <div class="buttonreports">
            <button class="btn btn-primary" onclick="location.assign('/reports')"><b>Reports</b></button>&nbsp&nbsp
            <button class="btn btn-primary" onclick="location.assign('/room')"><b>Meeting</b></button>
        </div>
    </div>


</div>
<script>
 var socket = io();
 $(() => {
    $("#send").click(()=>{
        sendMessage({name: $("#name").val(), message: $("#message").val()});
    })

    getMessages()
})

 socket.on('message', addMessages)

 function addMessages(message){
    // if (message.name == $("#name"))
    $("#chatbox").append(` <p style="color: lightgrey>${message.name}</p>  <p><h4 style="color: #191970;"> ${message.message} </h4></p> `)
    // $('#image').append(` ${message.name}  ${message.profile_pic}` )
}

function getMessages(){
  $.get('http://localhost:5000/patient_chat', (details_msg) => {
    details_msg.forEach(addMessages);
    //} 


})
}

function sendMessage(message){
  $.post('http://localhost:5000/patient_chat', message)
}
</script>

</body>
</html>
